@import "BootstrapTheme.css";

.App {
  text-align: center;
}

.main {
  margin: 40px 80px;
}

.add-variable {
  margin-bottom: 30px;
}

#form-submit {
  margin-top: 30px;
}

.nav-description {
  float: right;
}

.column {
  margin-top: 12px;
}

.row {
  padding: 0px;
}

.footer {
  display:flex; 
  flex-direction:row;
}

#github {
  width: auto;  
  height: 22px;  
  float: right;
  margin-right: 20px;
}

.footer-text {
  flex: 1;
}

.header {
  margin: 40px 20px;
}

.remove-var-button {
  margin: 15px 0px;
}

.email-output {
  margin-top: 20px;
  margin-bottom: 120px;
  padding: 15px;
  border: solid;
  border-color: rgb(212, 212, 212);
  color: black;
  background-color: white;
  border-radius: 15px;
  white-space: pre-line;
}

.footer {
  margin: 20px 60px;
}
